/* main.css */

/* Restablecer márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner Superior / Columna Izquierda */
.left-column {
    background-color: #000;
    color: #fff;
    height: 100vh; /* Ocupa toda la altura de la pantalla en ordenadores */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-column img {
    width: 120px; /* Tamaño reducido para móviles */
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.left-column h1 {
    font-size: 30px; /* Tamaño reducido para evitar desbordamiento */
    margin-bottom: 5px;
}

.left-column h2 {
    font-size: 18px; /* Tamaño reducido para evitar desbordamiento */
    margin-top: 0;
}

.left-column p {
    font-size: 14px; /* Tamaño reducido para evitar desbordamiento */
    margin: 2px 0;
}

/* Ajustes de Media Query para móviles */
@media only screen and (max-width: 600px) {
    .left-column {
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: left;
        flex-direction: row;
        align-items: center;
    }

    .banner-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    }

    .banner-content img {
        margin-bottom: 0;
    }

    .banner-content h1, 
    .banner-content h2, 
    .banner-content p {
        margin: 0;
        white-space: nowrap; /* Evita que el texto se corte, pero permite que salte de línea si es necesario */
        overflow: hidden; 
        text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
    }

    .banner-content h1 {
        font-size: 24px; /* Tamaño ajustado */
    }

    .banner-content h2 {
        font-size: 16px; /* Tamaño ajustado */
    }

    .banner-content p {
        font-size: 12px; /* Tamaño ajustado */
    }

    .main-content {
        padding-top: 120px; /* Espacio para el banner superior en móviles */
    }
}

/* Contenido Principal */
.main-content {
    background-color: #121212; /* Fondo oscuro para un look futurista */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

/* Títulos */
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Texto */
p {
    font-size: 18px;
    line-height: 1.6;
}
