/*Elementos de la página*/
/* main.css */

/* Fondo negro para la columna izquierda y el banner superior */
.left-column {
    background-color: #000;
    color: #fff;
}

.left-column .card-title {
    font-size: 24px;
    margin-bottom: 0;
}

.left-column .card-content a {
    color: #00bcd4; /* Azul celeste */
}

.left-column .card-content p {
    margin: 5px 0;
}

/* Estilo para el contenido principal */
.main-content {
    background-color: #121212; /* Fondo oscuro para un look futurista */
    padding: 20px;
}

/* Títulos */
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Texto */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* Media query para pantallas móviles */
@media only screen and (max-width: 600px) {
    .left-column {
        display: none; /* Oculta la columna en móviles */
    }
    .top-banner {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #000;
        color: #fff;
        padding: 10px 0;
    }
    
    .top-banner img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
    .top-banner .card-title {
        font-size: 20px;
    }
    
    .main-content {
        padding-top: 120px; /* Ajuste por el banner superior */
    }
}
